* {
  margin: 0;
  border: none;
  font-family: "Times New Roman", serif;
  font-size: 12px;
  color: #333; }

.container {
  margin: 0 auto;
  width: 190mm;
  padding-bottom: 10px; }

header h1 {
  font-size: 19px;
  align-self: end;
  text-align: center;
  margin-top: 15px; }

.instructions-out {
  border: solid 2px #000;
  border-top: solid 1px #000; }
  .instructions-out .instructions-in {
    border: solid 1px #000;
    border-top: solid 2px #000;
    margin: 1px;
    padding: 4px; }
    .instructions-out .instructions-in p {
      margin-top: 5px;
      font-size: 13px;
      font-weight: bolder;
      text-align: center; }
    .instructions-out .instructions-in li {
      font-size: 11px;
      padding-left: 25px; }

div.date {
  display: grid;
  grid-template-columns: 166px 5px 40px 2em 100px 2em 70px;
  border: solid 1px #000;
  margin-left: 40px;
  margin-top: 25px;
  float: right; }
  div.date input {
    text-transform: uppercase; }
  div.date :nth-child(1) {
    padding-left: 2px; }

.sub {
  float: right;
  display: grid;
  grid-template-columns: 177px 85px 75px 90px;
  list-style-type: none;
  font-size: 8pt; }

.signatures {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .signatures * {
    font-size: 10pt; }
  .signatures p {
    text-align: center;
    margin-top: 5px; }
    .signatures p:nth-child(2) {
      border-top: solid 2px #000; }
  .signatures .pro-signature {
    width: 175px;
    margin-left: 150px; }
    .signatures .pro-signature p:nth-child(1) {
      border-top: solid 2px #000;
      margin-top: 20px; }
    .signatures .pro-signature p:nth-child(2) {
      margin-top: 50px; }
  .signatures .docs {
    width: 220px;
    border: solid 1px #000; }
    .signatures .docs p:nth-child(2) {
      border-top: solid 2px #000;
      width: 220px;
      margin-top: 70px; }

header {
  display: grid;
  grid-template-columns: 5fr 1fr; }
  header h1 {
    padding-left: 20%; }
  header div {
    width: 100px;
    border: solid #000 1px;
    padding: 9px 10px; }

.communicated h2 {
  text-align: center;
  font-size: 17px;
  margin-top: 16px; }

.communicated p {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  font-weight: bolder; }

.texts {
  margin-top: 20px; }

.form {
  border: 1px solid #000;
  margin-top: 20px; }
  .form div {
    border-top: 1px solid #000;
    display: grid; }
    .form div label {
      padding-left: 2px; }
    .form div input {
      border-right: 1px solid #000; }
      .form div input.last {
        border-right: none; }
  .form.company div:nth-child(1) {
    border-top: none;
    grid-template-columns: 37px 1fr 63px 23%; }
  .form.company div:nth-child(2) {
    grid-template-columns: 54px 1fr 20px 10% 40px 30%; }
  .form.company div:nth-child(3) {
    grid-template-columns: 40px 1fr 43px 30% 40px 20%; }
  .form.company div:nth-child(4) {
    grid-template-columns: 30px 20% 33px 33% 25px 1fr; }
  .form.company div:nth-child(5) {
    grid-template-columns: 40px 1fr; }
  .form.declaration div:nth-child(1) {
    border-top: none;
    grid-template-columns: 20px 1fr 62px 23%; }
  .form.declaration div:nth-child(2) {
    grid-template-columns: 381px 47%; }
  .form.declaration div:nth-child(3) {
    grid-template-columns: 70px 1fr 60px 17%; }
  .form.declaration div:nth-child(4) {
    grid-template-columns: 52px 1fr 18px 13% 39px 28%; }
  .form.declaration div:nth-child(5) {
    grid-template-columns: 41px 34% 45px 1fr 41px 10%; }
  .form.declaration div:nth-child(6) {
    grid-template-columns: 381px 19% 13px 26%; }
    .form.declaration div:nth-child(6) .child-6-item-I {
      border-right: none; }
  .form.declaration div:nth-child(7) {
    grid-template-columns: 60px 1fr; }

h2.declaration {
  margin-top: 35px;
  text-align: center;
  font-size: 17px; }

p.date {
  width: 240px;
  margin: 0px;
  margin-top: 20px; }
