* {
  margin: 0;
  border: none;
  font-family: "Times New Roman", serif;
  font-size: 12px;
  color: #333; }

.container {
  margin: 0 auto;
  width: 190mm;
  padding-bottom: 10px; }

.custom-check {
  border: solid 1px #000;
  height: 17px;
  width: 25px;
  padding-top: 3px;
  text-align: center;
  cursor: pointer;
  display: inline-block; }

input {
  text-transform: uppercase; }

.custom-form input[type=text] {
  border: none;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0; }

.custom-form > div:last-child input[type=text] {
  border-bottom: 1px solid #000; }

.custom-form label, .custom-form span {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  padding-left: 2px; }

.custom-form > div:last-child label, .custom-form div:last-child span {
  border-bottom: 1px solid #000; }

.custom-form input + label, .custom-form input + span {
  border-left: none; }

.custom-tables {
  display: grid; }
  .custom-tables table {
    border-collapse: collapse;
    text-align: center; }
    .custom-tables table .borderless {
      border: none;
      text-align: start;
      padding-right: 15px; }
    .custom-tables table td {
      border: 1px solid #000;
      border-collapse: collapse;
      max-width: 65px;
      overflow: hidden; }
      .custom-tables table td input {
        width: 100%;
        text-align: center;
        font-size: 8pt;
        padding: 3px 0; }

header h1 {
  font-size: 19px;
  align-self: end;
  text-align: center;
  margin-top: 15px; }

.instructions-out {
  border: solid 2px #000;
  border-top: solid 1px #000; }
  .instructions-out .instructions-in {
    border: solid 1px #000;
    border-top: solid 2px #000;
    margin: 1px;
    padding: 4px; }
    .instructions-out .instructions-in p {
      margin-top: 5px;
      font-size: 13px;
      font-weight: bolder;
      text-align: center;
      text-decoration: underline; }
    .instructions-out .instructions-in li {
      font-size: 11px;
      padding-left: 25px;
      line-height: 15px; }

div.date {
  display: grid;
  grid-template-columns: 166px 5px 40px 2em 100px 2em 70px;
  align-items: center;
  border: solid 1px #000;
  margin-left: 40px;
  margin-top: 25px;
  float: right;
  padding: 1px; }
  div.date input {
    padding-left: 2px; }

.sub {
  float: right;
  display: grid;
  grid-template-columns: 167px 85px 105px 70px;
  list-style-type: none;
  font-size: 8pt; }

.signatures {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .signatures * {
    font-size: 10pt; }
  .signatures p {
    text-align: center;
    margin-top: 5px; }
    .signatures p:nth-child(2) {
      border-top: solid 2px #000; }
  .signatures .pro-signature {
    width: 175px;
    margin-left: 150px; }
    .signatures .pro-signature p:nth-child(1) {
      border-top: solid 2px #000;
      margin-top: 20px; }
    .signatures .pro-signature p:nth-child(2) {
      margin-top: 50px; }
  .signatures .docs {
    width: 220px;
    border: solid 1px #000; }
    .signatures .docs p:nth-child(2) {
      border-top: solid 2px #000;
      width: 220px;
      margin-top: 70px; }

.container h2 {
  text-align: center;
  font-size: 15px;
  margin-top: 20px; }

.container h3 {
  font-size: 12pt;
  text-align: center;
  margin-top: 20px; }

.container .crf {
  display: grid;
  grid-template-columns: 61px 1fr;
  border: solid 1px #000;
  border-bottom: none;
  width: 30%;
  padding: 1px 0;
  margin-left: 501px;
  margin-top: 25px; }
  .container .crf input {
    width: 99%; }
  .container .crf span {
    padding-left: 2px;
    margin: 1px; }

.container .costumer div {
  display: grid;
  align-items: center; }
  .container .costumer div span {
    padding-left: 2px; }
  .container .costumer div:nth-child(1) {
    grid-template-columns: 70px 1fr; }
  .container .costumer div:nth-child(2) {
    grid-template-columns: 81px 1fr 34px 39%; }
  .container .costumer div:nth-child(3) {
    grid-template-columns: 101px 1fr; }
  .container .costumer div:nth-child(4) {
    grid-template-columns: 58px 1fr; }
  .container .costumer div:nth-child(5) {
    grid-template-columns: 45% 19px 11% 39px 1fr;
    border-left: solid 1px #000; }
  .container .costumer div:nth-child(6) {
    grid-template-columns: 36px 1fr 40px 35% 39px 13%; }
  .container .costumer div:nth-child(7) {
    grid-template-columns: 26px 10% 31px 15% 24px 15% 41px 1fr; }

.container h4 {
  font-size: 12pt;
  margin-top: 40px; }

.container .custom-check {
  margin-top: 20px;
  width: 40px; }

.container p.date {
  margin-top: 200px;
  margin-left: 286px; }

.container .signatures {
  margin-bottom: 100px;
  gap: 100px; }
  .container .signatures .pro-signature {
    width: 255px;
    margin-left: 50px; }
  .container .signatures .docs {
    width: 270px; }
    .container .signatures .docs p:nth-child(2) {
      width: 270px; }
