* {
  margin: 0;
  border: none;
  font-family: 'Times New Roman', serif;
  font-size: 12px; }

html body .container {
  margin: 0 auto;
  width: 190mm; }

html body header {
  display: grid;
  grid-template-columns: 1fr 1.4fr 0fr;
  align-items: center;
  gap: 0px;
  justify-content: center;
  height: 50px; }
  html body header h1 {
    width: 290px;
    font-size: 19px; }
  html body header .box {
    margin-top: 6px;
    height: 40px;
    width: 130px;
    border: solid #000 1px; }
    html body header .box .box-item {
      padding-left: 10px;
      text-align: left;
      font-size: 12px;
      margin-top: 5px; }
    html body header .box .box-item-II {
      padding-left: 10px;
      text-align: left;
      font-size: 12px; }

html body .instructions-out {
  border: solid 2px;
  border-top: solid 1px; }
  html body .instructions-out .instructions-in {
    border: solid 1px;
    border-top: solid 2px;
    margin: 1px;
    padding: 4px; }
    html body .instructions-out .instructions-in P {
      margin-top: 5px;
      font-size: 13px;
      font-weight: bolder;
      text-align: center; }
    html body .instructions-out .instructions-in li {
      font-size: 11px;
      text-align: left;
      padding-left: 25px; }

html body .communicated h2 {
  text-align: center;
  font-size: 17px;
  margin-top: 16px; }

html body .communicated p {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  font-weight: bolder; }

html body .texts {
  margin-top: 20px; }
  html body .texts p {
    text-align: left; }

html body .formulary {
  border: 1px solid #000;
  margin-top: 20px; }
  html body .formulary div {
    border-top: 1px solid #000;
    display: grid; }
    html body .formulary div label {
      padding-left: 2px; }
    html body .formulary div input {
      border-right: 1px solid #000; }
      html body .formulary div input.last {
        border-right: none; }
    html body .formulary div:nth-child(1) {
      border-top: none;
      grid-template-columns: 45px 1fr 75px 23%; }
    html body .formulary div:nth-child(2) {
      grid-template-columns: 70px 1fr 25px 10% 50px 30%; }
    html body .formulary div:nth-child(3) {
      grid-template-columns: 45px 1fr 50px 30% 47px 20%; }
    html body .formulary div:nth-child(4) {
      grid-template-columns: 35px 20% 36px 33% 30px 33%; }
    html body .formulary div:nth-child(5) {
      grid-template-columns: 50px 90%; }

html body .declaration {
  margin-top: 35px;
  text-align: center; }
  html body .declaration h2 {
    font-size: 17px; }

html body .formulary2 {
  border: 1px solid #000;
  margin-top: 20px; }
  html body .formulary2 label {
    padding-left: 2px; }
  html body .formulary2 input {
    border-right: 1px solid #000; }
    html body .formulary2 input.last {
      border-right: none; }
  html body .formulary2 div {
    border-top: 1px solid #000;
    display: grid; }
    html body .formulary2 div:nth-child(1) {
      border-top: none;
      grid-template-columns: 20px 1fr 62px 23%; }
    html body .formulary2 div:nth-child(2) {
      grid-template-columns: 381px 47%; }
    html body .formulary2 div:nth-child(3) {
      grid-template-columns: 70px 1fr 60px 17%; }
    html body .formulary2 div:nth-child(4) {
      grid-template-columns: 52px 1fr 18px 13% 39px 28%; }
    html body .formulary2 div:nth-child(5) {
      grid-template-columns: 41px 34% 83px 33% 41px 10%; }
    html body .formulary2 div:nth-child(6) {
      grid-template-columns: 381px 19% 13px 26%; }
      html body .formulary2 div:nth-child(6) .child-6-item-I {
        border-right: none; }
    html body .formulary2 div:nth-child(7) {
      grid-template-columns: 60px 1fr; }

html body .subscrevo-me {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
  text-align: left; }
  html body .subscrevo-me p {
    width: 240px;
    margin: 0px; }
  html body .subscrevo-me #label-sub {
    border: solid 1px #000;
    height: 16px;
    margin-left: 40px;
    margin-top: 40px; }
  html body .subscrevo-me #ipt-sub {
    visibility: hidden;
    width: 100px; }
  html body .subscrevo-me #ipt-sub2 {
    visibility: hidden;
    width: 70px; }
  html body .subscrevo-me #ipt-sub3 {
    visibility: hidden;
    width: 30px; }
  html body .subscrevo-me #ipt-sub4 {
    visibility: hidden;
    width: 50px; }

html body #ul-sub {
  float: right;
  display: grid;
  grid-template-columns: 173px 100px 75px 90px;
  list-style-type: none;
  font-size: 12px; }

html body .signatures {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  html body .signatures .pro-signature {
    border-top: solid 2px #000;
    width: 175px;
    margin-left: 150px;
    height: 80px; }
  html body .signatures p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px; }
  html body .signatures #p-II {
    border-top: solid 2px #000; }

html body .docs {
  width: 220px;
  height: 95px;
  border: solid 1px #000; }
  html body .docs .p2-II {
    border-top: solid 2px #000;
    width: 220px;
    position: absolute; }
