* {
  margin: 0;
  border: none;
  font-family: Times, 'Times New Roman', serif; }

html body .container {
  margin: 0 auto;
  width: 190mm; }

html body header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 164px; }
  html body header h1 {
    height: 30px;
    width: 290px;
    margin-top: 40px;
    font-size: 25px; }
  html body header .box {
    margin-top: 6px;
    height: 60px;
    width: 140px;
    border: solid #000 1px; }
    html body header .box .box-item {
      padding: 0px 10px;
      margin-top: 10px;
      text-align: left;
      font-size: 17px; }
    html body header .box .box-item-II {
      padding: 0px 10px;
      text-align: left;
      font-size: 17px; }

html body .instructions {
  border: solid 5px;
  border-style: double;
  height: 80px;
  width: 890px; }
  html body .instructions P {
    margin-top: 5px;
    font-size: 17px;
    font-weight: bolder; }
  html body .instructions li {
    text-align: left; }

html body .communicated h2 {
  text-align: center;
  margin-top: 20px; }

html body .communicated p {
  margin-top: 40px;
  font-size: 22px;
  font-weight: bolder; }

html body .texts {
  margin-top: 20px; }
  html body .texts p {
    margin-top: 5px;
    text-align: left; }

html body .formulary2 {
  border: 1px solid #000; }
  html body .formulary2 div {
    border-top: 1px solid #000;
    display: grid; }
    html body .formulary2 div input {
      border-right: 1px solid #000; }
      html body .formulary2 div input.last {
        border-right: none; }
    html body .formulary2 div:nth-child(1) {
      border-top: none;
      grid-template-columns: 52px 1fr 88px 200px; }
    html body .formulary2 div:nth-child(2) {
      grid-template-columns: 70px 1fr 25px 10% 50px 30%; }
    html body .formulary2 div:nth-child(3) {
      grid-template-columns: 100px 100px 100px 100px 100px 100px; }
    html body .formulary2 div:nth-child(4) {
      grid-template-columns: 100px 100px 100px 100px 100px 100px; }
    html body .formulary2 div:nth-child(5) {
      grid-template-columns: 100px 100px; }

html body .formulary {
  margin-top: 30px;
  width: 900px;
  border-bottom: solid #000 1px;
  border-left: solid #000 1px; }
  html body .formulary label {
    border-top: solid #000 1px;
    border-right: 1px solid #000;
    padding-left: 3px;
    height: 20px; }
  html body .formulary .formulary-items-line1 {
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    align-items: center; }
    html body .formulary .formulary-items-line1 .name {
      width: 582px;
      border: 0px; }
    html body .formulary .formulary-items-line1 .crf {
      width: 191px;
      border: 0px; }
  html body .formulary .formulary-items-line2 {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    align-items: center; }
    html body .formulary .formulary-items-line2 .address {
      width: 383px;
      border: 0px; }
    html body .formulary .formulary-items-line2 .number {
      width: 127px;
      border: 0px; }
    html body .formulary .formulary-items-line2 .complement {
      width: 250px;
      border: 0px; }
  html body .formulary .formulary-items-line3 {
    display: grid;
    grid-template-columns: 2fr 1.9fr 1.3fr; }
    html body .formulary .formulary-items-line3 .area {
      width: 298px;
      border: 0px; }
    html body .formulary .formulary-items-line3 .city {
      width: 277px;
      border: 0px; }
    html body .formulary .formulary-items-line3 .state {
      width: 175px;
      border: 0px; }
  html body .formulary .formulary-items-line4 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; }
    html body .formulary .formulary-items-line4 .cep {
      width: 144px;
      border: 0px; }
    html body .formulary .formulary-items-line4 .phone {
      width: 321px;
      border: 0px; }
    html body .formulary .formulary-items-line4 .cel {
      width: 331px;
      border: 0px; }
  html body .formulary .formulary-items-line5 {
    display: grid; }
    html body .formulary .formulary-items-line5 .email {
      width: 840px;
      border: 0px; }

html body .declaration {
  margin-top: 40px; }

html body .formulary .formulary-items-II-line1 {
  display: grid;
  grid-template-columns: 3fr 1.3fr;
  align-items: center; }
  html body .formulary .formulary-items-II-line1 .eu {
    width: 603px;
    border: 0px; }
  html body .formulary .formulary-items-II-line1 .crf {
    width: 191px;
    border: 0px; }

html body .formulary .formulary-items-II-line2 {
  display: grid; }
  html body .formulary .formulary-items-II-line2 .pharm {
    width: 399px;
    border: 0px; }

html body .formulary .formulary-items-II-line3 {
  display: grid;
  grid-template-columns: 3fr 1fr; }
  html body .formulary .formulary-items-II-line3 .social {
    width: 584px;
    border: 0px; }
  html body .formulary .formulary-items-II-line3 .crfpj {
    width: 147px;
    border: 0px; }

html body .formulary .formulary-items-II-line4 {
  display: grid;
  grid-template-columns: 2.5fr 1fr; }
  html body .formulary .formulary-items-II-line4 .fi-II-line4-borders-I {
    border-right: 0px; }
  html body .formulary .formulary-items-II-line4 .fi-II-line4-borders-II {
    border-left: 0px; }
  html body .formulary .formulary-items-II-line4 .line4-item-I {
    width: 143px;
    border: 0px; }
  html body .formulary .formulary-items-II-line4 .line4-item-II {
    width: 244px;
    border: 0px; }

html body .formulary .formulary-items-II-line5 {
  display: grid;
  grid-template-columns: 1fr; }
  html body .formulary .formulary-items-II-line5 .line5-item-I, html body .formulary .formulary-items-II-line5 .line5-item-II {
    width: 820px;
    border: 0px; }
  html body .formulary .formulary-items-II-line5 .line5-item-II {
    width: 100%; }

html body .subscrevo-me {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 40px;
  text-align: left; }
  html body .subscrevo-me p {
    width: 270px;
    margin: 0px; }
  html body .subscrevo-me #label-sub {
    height: 20px;
    margin-left: 40px;
    margin-top: 40px; }
  html body .subscrevo-me #ipt-sub {
    visibility: hidden;
    width: 100px; }
  html body .subscrevo-me #ipt-sub2 {
    visibility: hidden;
    width: 50px; }
  html body .subscrevo-me #ipt-sub3 {
    visibility: hidden;
    width: 50px; }
  html body .subscrevo-me #ipt-sub4 {
    visibility: hidden;
    width: 50px; }

html body #ul-sub {
  float: right;
  display: grid;
  grid-template-columns: 210px 160px 100px 170px;
  list-style-type: none;
  font-size: 12px; }

html body .signatures {
  margin-top: 100px;
  width: 500px;
  height: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  html body .signatures .pro-signature {
    border-top: solid 3px #000;
    width: 200px;
    height: 80px;
    float: left; }
  html body .signatures p {
    margin-top: 5px;
    margin-bottom: 50px; }
  html body .signatures #p-II {
    border-top: solid 3px #000; }

html body .docs {
  width: 250px;
  height: 110px;
  border: solid 1px #000; }
  html body .docs .p2-II {
    border-top: solid 3px #000;
    width: 250px;
    position: absolute; }
