@import "constants", "crf";

header {
  display: grid;
  grid-template-columns: 5fr 1fr;

  h1 {
    padding-left: 20%;
  }

  div {
    width: 100px;
    border: solid $black 1px;
    padding: 9px 10px;
  }
}

.communicated {
  h2 {
    text-align: center;
    font-size: 17px;
    margin-top: 16px;
  }

  p {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
  }
}

.texts {
  margin-top: 20px;
}

.form {
  border: 1px solid $black;
  margin-top: 20px;

  div {
    border-top: 1px solid $black;
    display: grid;

    label {
      padding-left: 2px;
    }

    input {
      border-right: 1px solid $black;

      &.last {
        border-right: none;
      }
    }
  }

  &.company {
    div {
      &:nth-child(1) {
        border-top: none;
        grid-template-columns: 37px 1fr 63px 23%;
      }

      &:nth-child(2) {
        grid-template-columns: 54px 1fr 20px 10% 40px 30%;
      }

      &:nth-child(3) {
        grid-template-columns: 40px 1fr 43px 30% 40px 20%;
      }

      &:nth-child(4) {
        grid-template-columns: 30px 20% 33px 33% 25px 1fr;
      }

      &:nth-child(5) {
        grid-template-columns: 40px 1fr;
      }
    }
  }

  &.declaration {
    div {
      &:nth-child(1) {
        border-top: none;
        grid-template-columns: 20px 1fr 62px 23%;
      }

      &:nth-child(2) {
        grid-template-columns: 381px 47%;
      }

      &:nth-child(3) {
        grid-template-columns: 70px 1fr 60px 17%;
      }

      &:nth-child(4) {
        grid-template-columns: 52px 1fr 18px 13% 39px 28%;
      }

      &:nth-child(5) {
        grid-template-columns: 41px 34% 45px 1fr 41px 10%;
      }

      &:nth-child(6) {
        grid-template-columns: 381px 19% 13px 26%;

        .child-6-item-I {
          border-right: none;
        }
      }

      &:nth-child(7) {
        grid-template-columns: 60px 1fr;
      }
    }
  }
}

h2.declaration {
  margin-top: 35px;
  text-align: center;
  font-size: 17px;
}

p.date {
  width: 240px;
  margin: 0px;
  margin-top: 20px;
}