@import "constants", "crf", "crf-professional-number";

.texts {
  margin-top: 20px;
}

.form {
  margin-top: 20px;

  div {
    display: grid;

    label {
      padding-left: 2px;
    }
  }

  &.company {
    div {
      &:nth-child(1) {
        grid-template-columns: 37px 1fr 63px 23%;
      }

      &:nth-child(2) {
        grid-template-columns: 54px 1fr 20px 10% 40px 30%;
      }

      &:nth-child(3) {
        grid-template-columns: 40px 1fr 43px 30% 40px 20%;
      }

      &:nth-child(4) {
        grid-template-columns: 30px 20% 33px 33% 25px 1fr;
      }

      &:nth-child(5) {
        grid-template-columns: 40px 1fr;
      }
    }
  }

  &.declaration {
    div {
      &:nth-child(1) {
        grid-template-columns: 20px 1fr 62px 23%;
      }

      &:nth-child(2) {
        grid-template-columns: 381px 47%;
      }

      &:nth-child(3) {
        grid-template-columns: 70px 1fr 60px 17%;
      }

      &:nth-child(4) {
        grid-template-columns: 52px 1fr 18px 13% 39px 28%;
      }

      &:nth-child(5) {
        grid-template-columns: 41px 34% 45px 1fr 41px 10%;
      }

      &:nth-child(6) {
        grid-template-columns: 1fr 19% 13px 26%;

        input:first-of-type {
          border-right: none;
        }
      }

      &:nth-child(7) {
        grid-template-columns: 60px 1fr;
      }

      &:nth-child(8), &:nth-child(9) {
        input {
          border-left: 1px solid $black;
        }
      }
    }
  }
}

h2.declaration {
  margin-top: 35px;
  text-align: center;
  font-size: 17px;
}

p.date {
  width: 240px;
  margin: 0px;
  margin-top: 20px;
}
