* {
  margin: 0;
  border: none;
  font-family: "Times New Roman", serif;
  font-size: 12px;
  color: #333;
}

.container {
  margin: 0 auto;
  width: 190mm;
  padding-bottom: 10px;
}

.custom-check {
  border: solid 1px #000;
  height: 17px;
  width: 25px;
  padding-top: 3px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}
