@import 'constants';

html{
    
    font-family:Times, 'Times New Roman', serif;

    body{
            width: 900px;
        header{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: center;
            gap: 164px;
        h1 {
            height: 30px;
            width: 290px;
            margin-top: 40px;
            font-size: 25px;
        }

        .box {
            margin-top: 6px;
            height: 60px;
            width: 140px;
            border: solid #000 1px;

            .box-item{
                padding: 0px 10px;
                margin-top:10px;
                text-align: left;
                font-size: 17px;
            }
            .box-item-II{
                padding: 0px 10px;
                text-align: left;
                font-size: 17px;
            }
        }
        }
        

        .instructions{
            border: solid 5px;
            border-style: double;
            height: 80px;
            width: 900px;

                P{
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: bolder;
                }

                li{
                    text-align: left;
                }
            }
           
    

        .communicated{
            h2{
                text-align: center;
                margin-top: 20px;
            }
        }

        .communicated{
            p {
                margin-top: 40px;
                font-size: 22px;
                font-weight: bolder;
            }
        }

        .texts{
            margin-top: 20px;           
                p{
                    margin-top: 5px;
                    text-align: left;
                }
        }

    
    

    label{
        border: solid #000 1px;
        height: 20px;
        
    }

    .formulary {  
        margin-top: 30px;
        width: 900px;
        border: solid #000 1px;     
        
        
        .formulary-items-line1{
        display: grid;
        grid-template-columns: 3fr 1.3fr;
        align-items: center;

        .name{
            width: 582px;
            border: 0px;
        }
        .crf{
            width: 191px;
            border: 0px;
        }
        }

        .formulary-items-line2{
        display: grid;
        grid-template-columns: 3fr 1fr 2fr;
        align-items: center;
        .address{
            width: 383px;
            border: 0px;
        }
        .number{
            width: 127px;
            border: 0px;
        }
        .complement{
            width: 250px;
            border: 0px;
        }
        }

        .formulary-items-line3{
        display: grid;
        grid-template-columns: 2fr 1.9fr 1.3fr;
        .area{
            width:  298px;
            border: 0px;
        }
        .city{
            width: 277px;
            border: 0px;
        }
        .state{
            width: 175px;
            border: 0px;
        }    
        }

        .formulary-items-line4{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        .cep{
            width: 144px;
            border: 0px;
        }
        .phone{
            width: 321px;
            border: 0px;
        }
        .cel{
            width: 331px;
            border: 0px;
        }    
        }
        
        .formulary-items-line5{
            display: grid;
            .email{
                width: 850px;
                border: 0px;
            }
        }
    }

    .declaration{
        margin-top: 40px;
    }
    
    .formulary{
        .formulary-items-II-line1{
            display: grid;
            grid-template-columns: 3fr 1.3fr;
            align-items: center;
            .eu{
                width: 603px;
                border: 0px;
            }
            .crf{
                width: 191px;
                border: 0px;
            }
        }
        
        .formulary-items-II-line2{
            display: grid;
            .pharm{
            width: 399px;
            border: 0px;
            }
        }

        .formulary-items-II-line3{
            display: grid;
            grid-template-columns: 3fr 1fr;
            .social{
                    width :584px;
                    border: 0px;
            }
            .crfpj{
                width: 147px;
                border: 0px;
            }
        
        }

        .formulary-items-II-line4{
            display: grid;
            grid-template-columns: 2.5fr 1fr;

            .fi-II-line4-borders-I{
            border-right: 0px;
            }
            .fi-II-line4-borders-II{
            border-left: 0px;
            }    
            
            .line4-item-I{
                width: 143px;
                border: 0px;
            }
            .line4-item-II{
                width: 244px;
                border: 0px;
            }
        }

        .formulary-items-II-line5{
            display: grid;
            
            .line5-item-I{     
            width: 829px;
            border: 0px;
            }
            .line5-item-II{     
                width: 898px;
                border:solid #000 1px;
                }
            }   
            }
        .a{
            
            margin-top: 5px;
            text-align: left;
        }    
    }
        
}
    
  

 

