@import 'constants';

* {
    margin: 0;
    border: none;
    font-family:'Times New Roman', serif;
    font-size: 12px;
}

html{
    body{
        .container {
            margin: 0 auto;
            width: 190mm;
        }

        header{
            display: grid;
            grid-template-columns:1fr 1.4fr 0fr;
            align-items: center;
            gap: 0px;
            justify-content: center;
            height: 50px;
        h1 {
            width: 290px;
            font-size: 19px;
        }

        .box {
            margin-top: 6px;
            height: 40px;
            width: 130px;
            border: solid #000 1px;

            .box-item{
                padding-left:10px;
                text-align: left;
                font-size: 12px;
                margin-top: 5px;
            }
            .box-item-II{
                padding-left:10px;
                text-align: left;
                font-size: 12px;
            }
        }
        }
        
        .instructions-out {
            border: solid 2px;
            border-top: solid 1px;

            .instructions-in {
                border: solid 1px;
                border-top: solid 2px;
                margin: 1px;
                padding: 4px;

                P{
                    margin-top: 5px;
                    font-size: 13px;
                    font-weight: bolder;
                    text-align: center;
                }

                li{
                    font-size: 11px;
                    text-align: left;
                    padding-left: 25px;
                }
            }
        }

        .communicated {

            h2 {
                text-align: center;
                font-size: 17px;
                margin-top: 16px;
            }
        }

        .communicated{
            p {
                margin-top: 20px;
                font-size: 16px;
                text-align: center;
                font-weight: bolder;
            }
        }

        .texts{
            margin-top: 20px;           
                p{
                    text-align: left;
                }
        }

        .formulary {
            border: 1px solid $black;
            margin-top: 20px;

            div {
                border-top: 1px solid $black;
                display: grid;

                label {
                    padding-left: 2px;
                }

                input {
                    border-right: 1px solid $black;
                    
                    &.last {
                        border-right: none;
                    }
                }

                &:nth-child(1) {
                    border-top: none;
                    grid-template-columns: 45px 1fr 75px 23%;
                }

                &:nth-child(2) {
                    grid-template-columns: 70px 1fr 25px 10% 50px 30%;
                }

                &:nth-child(3) {
                    grid-template-columns: 45px 1fr 50px 30% 47px 20%;
                }

                &:nth-child(4) {
                    grid-template-columns: 35px 20% 36px 33% 30px 33%;
                }

                &:nth-child(5) {
                    grid-template-columns: 50px 90%;
                }
            }
        }

        .declaration{
            margin-top: 35px;
            text-align: center;

            h2{
                font-size: 17px;
            }
        }

        .formulary2 {
            border: 1px solid $black;
            margin-top: 20px;

            label{
                padding-left: 2px;
            }

            input{
                border-right: 1px solid $black;

                &.last{
                    border-right: none;
                }
            }
            
            div {
                border-top: 1px solid $black;
                display: grid;

                &:nth-child(1) {
                    border-top: none;
                    grid-template-columns: 20px 1fr 62px 23%;
                }

                &:nth-child(2) {
                    grid-template-columns: 381px 47%;
                }

                &:nth-child(3) {
                    grid-template-columns: 70px 1fr 60px 17%;
                }

                &:nth-child(4) {
                    grid-template-columns: 52px 1fr 18px 13% 39px 28%;
                }

                &:nth-child(5) {
                    grid-template-columns: 41px 34% 83px 33% 41px 10%;
                }

                &:nth-child(6) {
                    grid-template-columns: 381px 19% 13px 26%;
                    
                    .child-6-item-I{
                        border-right: none;
                    }
                }

                &:nth-child(7) {
                    grid-template-columns: 60px 1fr;
                }
            }
        }

        .subscrevo-me {
            display: grid;
            grid-template-columns: 1fr 2fr;
            margin-top: 20px;
            text-align: left;

            p{
                width: 240px;
                margin: 0px;
            }
            
            #label-sub{
                border: solid 1px $black;
                height: 16px;
                margin-left: 40px;
                margin-top: 40px;
            }

            #ipt-sub{
                visibility: hidden;
                width: 100px;
            }
            #ipt-sub2{
                visibility: hidden;
                width: 70px;
            }
            #ipt-sub3{
                visibility: hidden;
                width: 30px;
            }
            #ipt-sub4{
                visibility: hidden;
                width: 50px;
            }
        }

        #ul-sub{
            float: right;
            display: grid;
            grid-template-columns: 173px 100px 75px 90px;;
            list-style-type: none;
            font-size: 12px;
        }

        .signatures{
            margin-top: 100px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            
            

        .pro-signature{
            border-top: solid 2px #000;
            width: 175px;
            margin-left: 150px;
            height: 80px;
        }
        p{
            text-align: center;
            margin-top: 5px;
            margin-bottom: 50px;
        }
        #p-II{
            border-top: solid 2px #000;
        }    
        }

        .docs{
            width: 220px;
            height: 95px;
            border: solid 1px #000;
            
            .p2-II{
                border-top: solid 2px #000;
                width: 220px;
                position: absolute;
                
            }
        }
    }
}