@import "constants", "register-form";

* {
  font-size: 12px;
}

.register {
  border: 5px solid $gray;
  padding: 2px;
  margin-top: 10px;

  div {
    display: grid;
    border-right: 1px solid $gray;

    strong + span, strong span {
      border-left: none;
      font-weight: normal;
      text-transform: uppercase;

      &.bottom {
        border-bottom: 1px solid $gray;
      }

      &.text {
        border: none;
        line-height: 18px;
      }
    }
  }

  &:nth-child(1) {
    div {
      &:nth-child(1) {
        grid-template-columns: 86px 1fr 36px 7% 42px 18% 34px 15%;
      }
  
      &:nth-child(2) {
        grid-template-columns: 97px 1fr 64px 15% 70px 15%;
      }
  
      &:nth-child(3) {
        grid-template-columns: 35px 1fr 30px 15%;
      }
  
      &:nth-child(4) {
        grid-template-columns: 88px 28% 43px 1fr;
      }
  
      &:nth-child(5) {
        grid-template-columns: 48px 1fr 26px 5% 34px 12%;
      }
  
      &:nth-child(6) {
        grid-template-columns: 40px 26% 24px 15% 44px 1fr;
        :last-child {
          font-size: 11px;
        }
      }
  
      &:nth-child(7) {
        grid-template-columns: 50px 1fr;
      }
    }
  }

  &:nth-child(2) {
    div {
      display: grid;

      &:nth-child(1) {
        grid-template-columns: 215px 1fr;
      }

      &:nth-child(2) {
        grid-template-columns: 115px 1fr 85px 25%;
      }

      &:nth-child(3) {
        grid-template-columns: 44px 13% 1fr;
      }

      &:nth-child(4) {
        grid-template-columns: 128px 1fr 90px 25%;
      }

      &:nth-child(5) {
        grid-template-columns: 44px 13% 1fr;
      }
    }
  }

  &:nth-child(3) {
    display: grid;

    div {
      &:nth-child(1) {
        grid-template-columns: 47px 1fr;
      }

      &:nth-child(2) {
        grid-template-columns: 112px 22% 98px 1fr 105px 10%;
      }
    }
  }

  &:nth-child(4) {
    div {
      &:nth-child(1) {
        grid-template-columns: 27px 1fr;
      }

      &:nth-child(2) {
        grid-template-columns: 35px 1fr 30px 15%;
      }

      &:nth-child(3) {
        grid-template-columns: 88px 28% 43px 1fr;
      }

      &:nth-child(4) {
        grid-template-columns: 50px 1fr 31px 5% 37px 10%;
      }

      &:nth-child(5) {
        grid-template-columns: 50px 15% 48px 1fr;
      }

      &:nth-child(6) {
        grid-template-columns: 36px 26% 31px 1fr 55px 21%;
      }

      &:nth-child(7) {
        grid-template-columns: 57px 1fr;
      }

      &:nth-child(8) {
        grid-template-columns: 146px 1fr;
      }

      &:nth-child(9) {
        grid-template-columns: 124px 1fr 29px 15% 33px 15%;
      }

      &:nth-child(10) {
        grid-template-columns: 138px 1fr 29px 15% 33px 15%;
      }

      &:nth-child(11) {
        grid-template-columns: 138px 1fr 29px 15% 33px 15%;
      }
    }
  }
}
