* {
  margin: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
}

.container {
  margin: 0 auto;
  width: 190mm;
  padding-bottom: 10px;
}

.custom-check {
  border: solid 1px #b3b3b3;
  height: 17px;
  width: 25px;
  padding-top: 3px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

input {
  text-transform: uppercase;
}

.custom-formless {

  strong,
  span {
    border-top: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    font-weight: bolder;
    padding: 3px 0 3px 2px;
  }

  div:last-child strong {
    border-bottom: 1px solid #b3b3b3;
  }

  input + label,
  input + strong {
    border-left: none;
  }
}
